
.icon-folder:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-desktop-1:before { content: '\f108'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */